<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CDN de Tailwind   -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CDN de Google Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />


    <title>La Estación llanogrande - Primax </title>
</head>
<body class="bg-gray-50">

    <nav class="p-4 shadow-md bg-sky-700 text-white">
        <div class="container mx-auto flex justify-between items-center">

            <!-- Logo -->
          <a href="#" class="text-xl font-bold">La Estación de Llano Grande</a>

          <!-- a del la vista Desktop -->
          <div class="hidden md:flex space-x-6">
            <a href="/Products" class="hover:text-cyan-100 transition-colors duration-300">Productos</a>
            <a href="#" class="hover:text-cyan-100 transition-colors duration-300">Servicios</a>
            <a href="#" class="hover:text-cyan-100 transition-colors duration-300">Contacto</a>
            <!-- Si el usuario no esta autenticado, mostrar el texto de Inicio de Sesion-->
            <a th:if="${username == null}" href="/login" class="hover:text-cyan-100 transition-colors duration-300">Inciar Sesion</a>

            <!-- Si el usuario está autenticado, mostrar su nombre y formulario de logout -->
            <div th:if="${username != null}" class="flex items-center space-x-4">
                <span class="text-white">Bienvenido, <span th:text="${username}"></span></span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Cerrar Sesion
                    </button>
                </form>
            </div>
        </div>

          <!-- Menu Mobile -->
          <div class="md:hidden">
            <input type="checkbox" id="menu-toggle" class="peer hidden" />
            <label for="menu-toggle" class="p-2 rounded-full cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </label>

            <!-- SideBar Menu -->
            <div class="fixed top-0 right-0 h-full w-1/2 bg-sky-600 shadow-lg transform translate-x-full peer-checked:translate-x-0 transition-transform z-50">
            
                <div class="m-10">
                    <label for="menu-toggle" class="absolute top-4 right-4 cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </label>
                </div>
              <ul class="py-4 space-y-2 px-4">
                <li><a href="/Products" class="block px-4 py-2 hover:bg-sky-50 rounded-lg hover:text-sky-900">Productos</a></li>
                <li><a href="" class="block px-4 py-2 hover:bg-sky-50 rounded-lg hover:text-sky-900">Servicios</a></li>
                <li><a href="" class="block px-4 py-2 hover:bg-sky-50 rounded-lg hover:text-sky-900">Contactanos</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <!-- Comienzo del Main -->
       <main class="">
        <section>
            <div class="relative m-2">
                <!-- Imagen -->
                <img src="/images/LaEstacion.jpeg" alt="La Estación" class="w-screen h-[500px] object-cover rounded-2xl">
                
                <!-- Overlay oscuro -->
                <div class="absolute inset-0 bg-black bg-opacity-50 rounded-2xl flex items-center">
                    <!-- Contenedor del texto con ancho máximo del 45% de la pantalla -->
                    <div class="pl-8 pr-8 w-full md:w-[45%]">
                        <h1 class="text-white text-4xl font-bold mt-20">Bienvenido a La Estación</h1>
                        <p class="text-white mb-4">Más que una estación de servicio, un destino en tu camino. Encuentra todo lo que necesitas en un solo lugar: combustible, tienda, lavado, serviteca y más.</p>
                        
                        <!-- Botón -->
                        <div class="mt-28">
                            <a href="#" class="bg-orange-500 text-white px-6 py-3 rounded-lg font-semibold text-lg hover:bg-orange-400 transition mt-4">
                                Descubre nuestros servicios
                            </a>   
                        </div>             
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Conoce la Estacion -->
        <section class="mt-6 m-3 rounded-xl border-2 bg-white shadow-lg lg:grid lg:grid-cols-2">
            <!-- Primer artículo -->
            <article class="p-6 lg:p-8 border-b lg:border-none">
                <h1 class="text-2xl font-bold text-zinc-900">Sobre Nosotros</h1>
                <p class="text-zinc-900">
                    Mucho más que una estación de servicio. Desde hace 21 años, La Estación Llanogrande ha sido un punto clave en la vía a Rionegro. No solo somos un espacio para abastecer combustible, sino un lugar diseñado para ofrecerte comodidad, conveniencia y buenos momentos en el camino.
                </p>
            </article>
        
            <!-- Segundo artículo (Call to Actions) -->
            <article class="p-6 lg:p-8">
                <ul class="text-zinc-700">
                    <li class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-xl">
                            shopping_basket
                        </span>
                        Recorre nuestra tienda para lo que necesites.
                    </li>
                    <li class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-xl">
                            coffee
                        </span>
                        Disfruta un café en nuestro restaurante.
                    </li>
                    <li class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-xl">
                            domain
                        </span>
                        Pronto, un mall comercial para ampliar la experiencia.
                    </li>
                </ul>
                
            </article>
        </section>
        
        
       <!-- Servicios Section  -->
       <section class="mt-6 mx-3">
        <h2 class="text-3xl font-bold text-center text-zinc-900">Nuestros Servicios</h2>
    
        <!-- Contenedor de las Cards -->
        <div class="flex flex-wrap justify-center gap-4 mt-4">
            <!-- Gasolina -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden sm:w-full md:w-80 m-2">
                <div class="w-full h-48 flex justify-center items-center bg-blue-50">
                    <span class="material-symbols-outlined text-blue-500 text-8xl">
                        local_gas_station
                    </span>
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-900">Gasolina</h2>
                    <hr class="border-t-2 border-orange-500 my-2 w-1/4">
                    <p class="text-gray-600 text-sm">
                        <span class="font-bold">Suministro de combustible.</span>
                        Ofrecemos gasolina y diésel de alta calidad para el mejor rendimiento de tu vehículo.
                    </p>
                </div>
            </div>

            <!-- Tienda -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden sm:w-full md:w-80 m-2">
                <div class="w-full h-48 flex justify-center items-center bg-amber-50">
                    <span class="material-symbols-outlined text-orange-500 text-8xl">
                        storefront
                    </span>
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-900">Tienda</h2>
                    <hr class="border-t-2 border-orange-500 my-2 w-1/4">
                    <p class="text-gray-600 text-sm">
                        <span class="font-bold">Encuentra lo que necesitas.</span>
                        Variedad de productos y snacks para tu comodidad mientras viajas.
                    </p>
                </div>
            </div>

            <!-- Mall Comercial -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden sm:w-full md:w-80 m-2">
                <div class="w-full h-48 flex justify-center items-center bg-blue-50">
                    <span class="material-symbols-outlined text-blue-500 text-8xl">
                        apartment
                    </span>
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-900">Mall Comercial</h2>
                    <hr class="border-t-2 border-orange-500 my-2 w-1/4">
                    <p class="text-gray-600 text-sm">
                        <span class="font-bold">Un espacio para todos.</span>
                        Disfruta de tiendas, restaurantes y servicios en un solo lugar.
                    </p>
                </div>
            </div>

            <!-- Restaurante -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden sm:w-full md:w-80 m-2">
                <div class="w-full h-48 flex justify-center items-center bg-amber-50">
                    <span class="material-symbols-outlined text-orange-500 text-8xl">
                        lunch_dining
                    </span>
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-900">Restaurante</h2>
                    <hr class="border-t-2 border-orange-500 my-2 w-1/4">
                    <p class="text-gray-600 text-sm">
                        <span class="font-bold">Delicias para el camino.</span>
                        Disfruta de comidas deliciosas y bebidas refrescantes mientras viajas.
                    </p>
                </div>
            </div>

            <!-- Serviteca -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden sm:w-full md:w-80 m-2">
                <div class="w-full h-48 flex justify-center items-center bg-blue-50">
                    <span class="material-symbols-outlined text-blue-500 text-8xl">
                        build
                    </span>
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-900">Serviteca</h2>
                    <hr class="border-t-2 border-orange-500 my-2 w-1/4">
                    <p class="text-gray-600 text-sm">
                        <span class="font-bold">Mantenimiento especializado.</span>
                        Servicio de mecánica rápida y mantenimiento para tu vehículo.
                    </p>
                </div>
            </div>
            <!-- Lavado -->
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden sm:w-full md:w-80 m-2">
                <div class="w-full h-48 flex justify-center items-center bg-blue-50">
                    <span class="material-symbols-outlined text-blue-500 text-8xl">
                        local_car_wash
                    </span>
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-900">Lavado</h2>
                    <hr class="border-t-2 border-orange-500 my-2 w-1/4">
                    <p class="text-gray-600 text-sm">
                        <span class="font-bold">Mantén tu vehículo como nuevo.</span>
                        Nuestro servicio de lavadero utiliza productos de alta calidad para garantizar que tu auto siempre luzca impecable.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Footer -->
    <section class="mt-6 m-3 bg-slate-200 rounded-lg p-4">
        <h2 class="text-3xl font-bold text-center text-zinc-900">Encuéntranos Fácilmente</h2>
    
        <div class="mt-6 grid gap-6 lg:grid-cols-2 p-2">
            <!-- Mapa -->
            <div class="relative w-full overflow-hidden rounded-xl shadow-lg" style="aspect-ratio: 16/9;">
                <iframe 
                    class="absolute top-0 left-0 w-full h-full"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.0456438758274!2d-75.42554492501039!3d6.124559993862156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e469eb2740b33b9%3A0x1f65c1e8e282a736!2sLa%20Estaci%C3%B3n%20Llanogrande!5e0!3m2!1ses!2sco!4v1739755926696!5m2!1ses!2sco"
                    style="border:0;" 
                    allowfullscreen 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            
    
            <!-- Información de Contacto -->
            <div class="p-6 rounded-xl shadow-lg bg-white m-2">
                <p class="text-zinc-900 text-2xl font-semibold">
                    <span class="material-symbols-outlined">
                        location_on</span>
                    Estamos ubicados en una zona estratégica para tu conveniencia.
                </p>
                <ul class="mt-4 space-y-2 text-zinc-700">
                    <li class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-blue-500 text-2xl">
                            map
                        </span>
                        <strong>Dirección:</strong> Km 8 vía Llanogrande - Rionegro.
                    </li>
                    
                    <li class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-orange-500 text-2xl">
                            call
                        </span>
                        <strong>Teléfono:</strong> 424 3140
                    </li>

                    <li class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-green-500 text-2xl">
                            phone_in_talk
                        </span>
                        <strong>WhatsApp:</strong>
                        <a href="http://wa.me/c/573146454169" class="text-blue-600 hover:underline">
                            314 645 4169
                        </a>
                    </li>
                    
                    <li class="flex items-center gap-2">
                        <span class="material-symbols-outlined text-pink-500 text-2xl">
                            photo_camera
                        </span>
                        <strong>Instagram:</strong>
                        <a href="https://www.instagram.com/laestacionllanogrande/?hl=es" class="text-blue-600 hover:underline">
                            Visítanos
                        </a>
                    </li>
                    
                </ul>
    
                <!-- Horarios -->
                <div class="mt-6">
                    <h3 class="text-xl font-semibold text-zinc-900 flex items-center gap-2">
                        <span class="material-symbols-outlined  text-2xl">
                            alarm
                        </span>
                        Horarios de Atención
                    </h3>
                    
                    <ul class="mt-2 space-y-2 text-zinc-700">
                        <li><strong>Tienda - Café:</strong></li>
                        <ul class="pl-4">
                            <li>Lunes a jueves: <strong>7:00 a. m. - 9:00 p. m.</strong></li>
                            <li>Viernes y sábado: <strong>7:00 a. m. - 10:00 p. m.</strong></li>
                            <li>Domingo: <strong>7:00 a. m. - 8:00 p. m.</strong></li>
                        </ul>
    
                        <li><strong>Serviteca:</strong></li>
                        <ul class="pl-4">
                            <li>Lunes a viernes: <strong>8:00 a. m. - 6:00 p. m.</strong></li>
                            <li>Sábados: <strong>8:00 a. m. - 2:00 p. m.</strong></li>
                            <li>Domingos: <strong>No disponible</strong></li>
                        </ul>
    
                        <li><strong>Estación de gasolina:</strong> <strong>Servicio 24 horas</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer  -->
        <footer class="bg-sky-700 text-white py-8">
            <div class="max-w-screen-xl mx-auto px-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
                    <!-- Sección 1: Información -->
                    <div>
                        <h3 class="text-xl font-semibold mb-4">Información</h3>
                        <ul>
                            <li><a href="#" class="hover:text-orange-500">Sobre nosotros</a></li>
                            <li><a href="#" class="hover:text-orange-500">Servicios</a></li>
                            <li><a href="#" class="hover:text-orange-500">Carreras</a></li>
                            <li><a href="#" class="hover:text-orange-500">Blog</a></li>
                        </ul>
                    </div>
        
                    <!-- Sección 2: Contacto -->
                    <div>
                        <h3 class="text-xl font-semibold mb-4">Contacto</h3>
                        <ul>
                            <li><a href="tel:+123456789" class="hover:text-orange-500">+1 234 567 89</a></li>
                            <li><a href="mailto:contacto@ejemplo.com" class="hover:text-orange-500">contacto@ejemplo.com</a></li>
                            <li><a href="https://www.instagram.com" class="hover:text-orange-500" target="_blank">Instagram</a></li>
                            <li><a href="https://www.facebook.com" class="hover:text-orange-500" target="_blank">Facebook</a></li>
                        </ul>
                    </div>
        
                    <!-- Sección 3: Ubicación -->
                    <div>
                        <h3 class="text-xl font-semibold mb-4">Ubicación</h3>
                        <p class="text-sm">Dirección: Calle Ficticia, 123, Ciudad, País</p>
                        <p class="text-sm">Horario: Lunes a Viernes - 9:00 AM a 6:00 PM</p>
                    </div>
        
                    <!-- Sección 4:Tentativo un news letter -->
                    <div>
                        <h3 class="text-xl font-semibold mb-4">Suscríbete a nuestro boletín</h3>
                        <form action="#" method="POST" class="flex">
                            <input type="email" placeholder="Tu correo electrónico" class="px-4 py-2 rounded-l-lg focus:outline-none text-gray-800" required>
                            <button type="submit" class="bg-orange-500 text-white px-4 py-2 rounded-r-lg hover:bg-orange-600">Suscribirse</button>
                        </form>
                    </div>
                </div>
                
                <div class="mt-8 text-center">
                    <p class="text-sm">&copy; 2025 Todos los derechos reservados. <span class="text-orange-500">Empresa W</span></p>
                </div>
            </div>
        </footer>    
    </main>
</body>
</html>