<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-ligth">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">ServiLLanogrande</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="#">Servicios</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Contactanos</a>
              </li>
            </ul>
          </div>
    </nav>
    <div th:replace="fragments/cart-sidebar :: cart-sidebar"></div>
    <div class="container mt-4">
      
      <h1 class="text-center">Nuestros Productos en Tienda</h1>

      <form method="get" action="/products" class="mb-4">
        <div class="row row-cols-lg-auto g-2 align-items-center">

            <!-- Input para Buscar por Nombre-->
            <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Buscar por nombre" th:value="${param.name}">
            </div>
            <!-- Input para buscar por Precio-->
            <div class="col">
                <input type="number" name="price" class="form-control" placeholder="Precio máximo" th:value="${param.price}">
            </div>

            <!-- Input para Buscar por Categoria-->
            <div class="col">
              <select name="category" class="form-select">
                <option value="">Todas las Categorias</option>
                <option th:each="cat : ${categories}" 
                        th:value="${cat}" 
                        th:text="${cat}" 
                        th:selected="${param.category != null and param.category[0] == cat.name()}"></option>
              </select>
            </div>
            <!-- Boton de Filtrar-->
            <div class="col">
                <button type="submit" class="btn btn-primary w-100">Filtrar</button>
            </div>
            <!-- Boton de Borrar-->
            <div class="col">
                <a href="/products" class="btn btn-secondary w-100">Reset</a>
            </div>
        </div>
      </form>
      <div class="row">
          <!-- Iterar sobre los productos -->
          <div class="col-md-3 col-sm-6 mb-3" th:each="product : ${products}">
              <div class="card h-100 shadow-sm" style="width: 14rem;"> <!-- Reducimos el Ancho -->
                  <img th:src="@{/images/laptop.jpg}" class="card-img-top" alt="Imagen del producto">
                  <div class="card-body p-2"> <!--Reduce el Padding-->
                      <h6 class="card-title text-truncate" th:text="${product.name}"></h6>
                      <p class="card-text text-muted text-truncate" th:text="${product.description}"></p>
                      <p class="text-primary fw-bold mb-1">$<span th:text="${product.price}"></span></p>
                      <a th:href="@{/products/} + ${product.id}" class="btn btn-primary">Ver detalles</a>
                      <form th:action="@{/cart/add}" method="post">
                        <input type="hidden" name="id" th:value="${product.id}">

                        <div class="d-flex justify-content-between align-items-center">
                          <button type="button" class="btn btn-outline-secondary btn-sm" onclick="decreaseQuantity(this)">-</button>
                          <input type="number" name="quantity" value="1" min="1" class="form-control text-center" style="width: 50px;">
                          <button type="button" class="btn btn-outline-secondary btn-sm" onclick="increaseQuantity(this)">+</button>
                        </div>
                        <button type="submit" class="btn btn-success w-100 mt-2">Añadir al carrito</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
<script>
  function toggleCart(){
    document.getElementById("cartSidebar").classList.toggle("active");
  }
</script>
</html>